window#citation-editor {
	height: 100%;
	width: 100%;
	padding: 1em;
}

div#citation-editor-container {
	display: grid;
	height: 100%;
}
/* get the item box to contract into a scrollbar if the window is too small */
div#citation-editor-item-box-container {
	overflow-y: auto;
	overflow-x: clip;
}
/* keep the PID rows anchored to the bottom of the window */
div#citation-editor-footer {
	align-self: end;
	width: 100%;
}

div#citation-editor-buttons {
	text-align: right;
}

div#citation-editor-buttons > button {
	margin-left: 5px;
	margin-right: 5px;
}

#root {
	flex-grow: 1;
	display: flex;
}
