.cita-icon {
	height: 16px;
}

#citations-pane {
	display: flex;
}
#citations-box-container {
	flex-grow: 1;
	display: flex;
}
.citations-box {
	flex-grow: 1;
	width: 330px;
}
.citations-box .citations-box-header {
	display: flex;
	padding-left: 10px;
	align-items: center;
}
.citations-box .citations-box-header button {
	min-width: 79px;
	margin: 5px 6px 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	color: ButtonText;
	text-shadow: none;
	font-size: inherit;
}
.citations-box .citations-box-count {
	margin-right: 5px;
}
.citations-box ul.citations-box-list {
	list-style: none;
	margin: 0;
	padding: 2px 0 0;
	overflow-y: clip;
}
.citations-box ul.citations-box-list > li {
	display: flex;
	margin: 3px 6px;
	align-items: center;
	height: 1.5em;
}
.citations-box ul.citations-box-list > li button {
	border: 0;
	background: none;
	padding: 1px;
	/* this lets us edit the fill property of the included SVGs with CSS */
	-moz-context-properties: fill, fill-opacity, stroke, stroke-opacity;
	fill: var(--fill-secondary);
	height: 100%;
}
.citations-box ul.citations-box-list > li button :hover {
	background-color: var(--fill-quinary);
}
.citations-box ul.citations-box-list > li button:disabled {
	filter: grayscale(100%) opacity(50%);
}
.citations-box .editable-container {
	flex-grow: 1;
	margin: 0 2px;
	/* width: 282px; */
	/* making this smaller makes things look good */
	width: 100px;
}
.citations-box ul.citations-box-list > li .editable-container {
	padding: 0 1px;
}
.citations-box input.editable-control {
	width: 100px;
	font-family: inherit;
}

.citations-box-footer {
	padding: 10px;
}

img.light {
	filter: opacity(50%);
}

ul.pid-list {
	list-style: none;
	padding-left: 0;
}

ul.pid-list > li {
	align-items: center;
	display: flex;
}

ul.pid-list > li > label {
	width: 65px;
}

ul.pid-list > li input {
	width: 100%;
}

ul.pid-list > li * {
	margin-left: 2px;
	margin-right: 2px;
}

ul.pid-list > li button {
	border: 0;
	background: none;
	padding: 1px;
	margin-left: 15px;
}
ul.pid-list > li button:disabled {
	filter: grayscale(100%) opacity(50%);
}

ul.pid-list > li .editable-container {
	flex-grow: 1;
}

ul.pid-list .editable-content {
	min-height: 1em;
}

.pid-label.pointer:hover,
ul.pid-list .cita-icon.pointer:hover {
	cursor: pointer !important;
}
