window#selector {
	width: 100%;
	height: 100%;
	padding: 1em;
}

div#selector-description {
	margin-bottom: 10px;
}

#selector-list {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	height: 100%;
	overflow: auto;
}

div#selector-buttons {
	margin-top: 10px;
	text-align: right;
}

div#selector-buttons > button {
	margin-left: 5px;
	margin-right: 5px;
}

#root {
	height: 100%;
	width: 100%;
}
