window#identifier-importer {
	width: 500px;
	padding: 1em;
}

div#identifier-importer-description {
	margin-bottom: 10px;
}

div#identifier-importer-textbox {
	margin-top: 10px;
	margin-bottom: 10px;
}

div#identifier-importer-buttons {
	text-align: right;
}

textarea#identifier-input{
	width: 100%
}