#citations-pane {
	 display: flex;
}
 #citations-box-container {
	 flex-grow: 1;
	 display: flex;
}
 .citations-box {
	 flex-grow: 1;
	 width: 330px;
}
 .citations-box .citations-box-header {
	 display: flex;
	 padding-left: 10px;
	 align-items: center;
}
 .citations-box .citations-box-header button {
	 min-width: 79px;
	 margin: 5px 6px 3px;
	 padding-top: 1px;
	 padding-bottom: 1px;
	 color: ButtonText;
	 text-shadow: none;
	 font-size: inherit;
}
 .citations-box .citations-box-count {
	 margin-right: 5px;
}
 .citations-box ul.citations-box-list {
	 list-style: none;
	 margin: 0;
	 padding: 2px 0 0;
	 overflow-y: auto;
}
 .citations-box ul.citations-box-list > li {
	 display: flex;
	 margin: 3px 6px;
	 align-items: center;
	 height: 1.5em;
}
 .citations-box ul.citations-box-list > li button {
	 border: 0;
	 background: none;
	 padding: 1px;
/*	 width: 20px;
	 height: 18px;*/
}
 .citations-box ul.citations-box-list > li button:disabled {
 	filter: grayscale(100%) opacity(50%);
 }
 .citations-box .editable-container {
	 flex-grow: 1;
	 margin: 0 2px;
	 width: 282px;
}
 .citations-box ul.citations-box-list > li .editable-container {
	 padding: 0 1px;
}
 .citations-box input.editable-control {
	 width: 100px;
	 font-family: inherit;
}
 